.cherry-tree {
    box-sizing: border-box;
  
    tree-node {
      height: 35px;
      padding: 3px 0;
      font-size: 14px;    
    }
    // &-arrow {
    //   color: #c8c8c8;
    //   font-size: 14px;
    //   transition: transform 0.1s;
    // }
    // &-arrow-rotate {
    //   display: inline-block;
    //   transform: rotate(90deg);
    // }
  }
  