.cherry-selectBox {
  display: inline-flex;
  align-items: center;
  color: #595959;
}
.cherry-selectBox .cherry-checkbox-input {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid #E5E5E5;
  appearance: none;
  color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
.cherry-selectBox .cherry-checkbox-input:hover {
  border-color: red;
}
.cherry-selectBox .cherry-checkbox-input:disabled {
  cursor: not-allowed;
  background-color: #F7F7F7;
  border-color: #E5E5E5;
  color: #BFBFBF;
}
.cherry-selectBox .cherry-checkbox-input.icon-checkbox-fill:before {
  content: "\2713";
}
.cherry-selectBox .cherry-checkbox-input.icon-checkbox-indeterminate-fill:before {
  content: "\e80a";
}
.cherry-selectBox .cherry-selectbox-span {
  margin-left: 5px;
}
.cherry-selectBox .cherry-selectbox-span.span-disabled {
  color: #BFBFBF;
  cursor: not-allowed;
}
.cherry-selectBox .is-checked {
  color: #d07b8b;
  border-color: #d07b8b;
}
