.cherry-tree {
  box-sizing: border-box;

  .tree-node {
    height: 35px;
    padding: 3px 0;
    font-size: 14px;
  }

  .tree-arrow {
    color: #c8c8c8;
    font-size: 14px;
  }

  .tree-arrow-rotate {
    svg {
      transform: rotate(90deg) !important;
    }
  }
}