a {
  text-decoration: none;
}
.cherry-btn {
  padding: 10px 16px;
  margin: 8px 10px;
  color: #FFF;
  background-color: #D07B8B;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn-small {
  padding: 4px 8px;
  font-size: 12px;
}
.btn-small.circle {
  width: 2.5rem;
  height: 2.5rem;
}
.btn-small .loading {
  width: 10px;
  height: 10px;
}
.btn-small .loading-enter {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
}
.btn-small .loading-enter-active {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 10px;
  height: 10px;
  transition: all 0.5s;
}
.btn-small .loading-enter-done {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 10px;
  height: 10px;
}
.btn-small .loading-exit {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 10px;
  height: 10px;
}
.btn-small .loading-exit-active {
  display: inline-block;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 0px;
  transition: all 0.5s;
}
.btn-small .loading-exit-done {
  display: inline-block;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 0px;
}
.btn-large {
  padding: 8px 16px;
  font-size: 28px;
  border-radius: 15px;
}
.btn-large.circle {
  width: 5rem;
  height: 5rem;
}
.btn-large .loading {
  width: 26px;
  height: 26px;
}
.btn-large .loading-enter {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
}
.btn-large .loading-enter-active {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 26px;
  height: 26px;
  transition: all 0.5s;
}
.btn-large .loading-enter-done {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 26px;
  height: 26px;
}
.btn-large .loading-exit {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 26px;
  height: 26px;
}
.btn-large .loading-exit-active {
  display: inline-block;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 0px;
  height: 0px;
  transition: all 0.5s;
}
.btn-large .loading-exit-done {
  display: inline-block;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
  width: 0px;
  height: 0px;
}
.cherry-components-primary {
  background-color: #d07b8b;
  border: 1px solid #d07b8b;
}
.cherry-components-primary:hover {
  background-color: #c3556a;
}
.cherry-components-success {
  background-color: #67c23a;
  border: 1px solid #67c23a;
}
.cherry-components-success:hover {
  background-color: #529b2e;
}
.cherry-components-info {
  background-color: #67c23a;
  border: 1px solid #67c23a;
}
.cherry-components-info:hover {
  background-color: #529b2e;
}
.cherry-components-warning {
  background-color: #e6a23c;
  border: 1px solid #e6a23c;
}
.cherry-components-warning:hover {
  background-color: #d48a1b;
}
.cherry-components-danger {
  background-color: #f56c6c;
  border: 1px solid #f56c6c;
}
.cherry-components-danger:hover {
  background-color: #f23c3c;
}
.cherry-components-link {
  background-color: #d63384;
  border: 1px solid #d63384;
}
.cherry-components-link:hover {
  background-color: #b2246b;
}
.is-round {
  border-radius: 20px;
}
