@import url(../themeStyles/index.less);
//size 为 small 时的样式
@btn-small-padding: 4px 8px;
@btn-small-fontSize: 12px;
@btn-small-wight: 2.5rem;
@btn-small-height: 2.5rem;
//size 为 large 时的样式
@btn-large-padding: 8px 16px;
@btn-large-fontSize: 28px;
@btn-large-wight: 5rem;
@btn-large-height: 5rem;

@loading: {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;

  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
};

a {
  text-decoration: none;
}

.cherry-btn {
  margin: 8px 10px;
  padding: 10px 16px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  background-color: #d07b8b;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-small {
  padding: @btn-small-padding;
  font-size: @btn-small-fontSize;

  &.circle {
    width: 2.5rem;
    height: 2.5rem;
  }

  & .loading {
    width: 10px;
    height: 10px;
  }

  .loading-enter {
    @loading();
  }

  .loading-enter-active {
    @loading();
    width: 10px;
    height: 10px;
    transition: all 0.5s;
  }

  .loading-enter-done {
    @loading();
    width: 10px;
    height: 10px;
  }

  .loading-exit {
    @loading();
    width: 10px;
    height: 10px;
  }

  .loading-exit-active {
    @loading();
    width: 0px;
    transition: all 0.5s;
  }

  .loading-exit-done {
    @loading();
    width: 0px;
  }
}

.btn-large {
  padding: @btn-large-padding;
  font-size: @btn-large-fontSize;
  border-radius: 15px;

  &.circle {
    width: 5rem;
    height: 5rem;
  }

  & .loading {
    width: 26px;
    height: 26px;
  }

  .loading-enter {
    @loading();
  }

  .loading-enter-active {
    @loading();
    width: 26px;
    height: 26px;

    transition: all 0.5s;
  }

  .loading-enter-done {
    @loading();
    width: 26px;
    height: 26px;
  }

  .loading-exit {
    @loading();
    width: 26px;
    height: 26px;
  }

  .loading-exit-active {
    @loading();
    width: 0px;
    height: 0px;
    transition: all 0.5s;
  }

  .loading-exit-done {
    @loading();
    width: 0px;
    height: 0px;
  }
}

each(@theme-colors, {
  .@{key} {
    background-color: rgba(@value);
    border: 1px solid rgba(@value);
    &:hover {
      background-color: darken(@value, 10%);
    }
  }
})
  .is-round {
  border-radius: 20px;
}
