.cherry-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid gray;
}
.cherry-menu .menu-item {
  padding: 10px 10px;
  cursor: pointer;
}
.cherry-menu .menu-item:hover,
.cherry-menu .menu-item.focus {
  text-decoration: none;
}
.cherry-menu .menu-item.is-disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
}
.cherry-menu .menu-item.is-active,
.cherry-menu .menu-item:hover {
  color: #d07b8b;
  border-bottom: 1px solid #d07b8b;
}
.cherry-menu .menu-item.is-active {
  font-weight: 600;
  background-color: #f8ecee;
}
.submenu-item {
  position: relative;
}
.submenu-item .submenu-title {
  display: flex;
  align-items: center;
}
.submenu-item svg {
  transition: transform 0.25s ease-in-out;
  margin-left: 10px;
}
.submenu-item:hover svg {
  transform: rotate(180deg);
}
.menu-vertical {
  width: 12vw;
}
.is-vertical .arrow-icon {
  transform: rotate(0deg) !important;
}
.is-vertical.is-opened svg {
  transform: rotate(180deg) !important;
}
.cherry-submenu {
  position: absolute;
  margin-top: 12px;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
}
.cherry-submenu .menu-item {
  padding: 10px 10px;
  cursor: pointer;
  color: #212529;
}
.cherry-submenu .menu-item.is-active,
.cherry-submenu .menu-item:hover {
  color: #d07b8b !important;
}
.cherry-submenu-vertical {
  position: relative;
}
.cherry-submenu.menu-opened {
  opacity: 1;
}
.submenu-item-horizontal {
  box-shadow: 0px 5px 10px #d5d5d5;
  background-color: #ffffff;
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
}
.menu-vertical .menu-item {
  border-left: 1px solid transparent;
}
.menu-vertical .menu-item.is-active,
.menu-vertical .menu-item:hover {
  border-bottom: 0px;
  border-left: 1px solid #d07b8b;
}
.cherry-submenu.menu-opened {
  opacity: 1;
}
.cherry-subMenu-ul-enter {
  opacity: 0;
}
.cherry-subMenu-ul-active {
  opacity: 1;
  transition: opacity 300ms;
}
.cherry-subMenu-ul-enter-done,
.cherry-subMenu-ul-exit {
  opacity: 1;
}
.cherry-subMenu-ul-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
