.cherry-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid black;
}
.cherry-menu .menu-item {
  padding: 10px 10px;
  cursor: pointer;
}
.cherry-menu .menu-item:hover,
.cherry-menu .menu-item.focus {
  text-decoration: none;
}
.cherry-menu .menu-item.is-disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
}
.cherry-menu .menu-item.is-active,
.cherry-menu .menu-item:hover {
  color: pink;
  border-bottom: 1px solid burlywood;
}
.submenu-item {
  position: relative;
}
.submenu-item .submenu-title {
  display: flex;
  align-items: center;
}
.submenu-item .arrow-icon {
  transition: transform 0.25s ease-in-out;
  margin-left: 10px;
}
.submenu-item:hover .arrow-icon {
  transform: rotate(180deg);
}
.is-vertical .arrow-icon {
  transform: rotate(0deg) !important;
}
.is-vertical.is-opened .arrow-icon {
  transform: rotate(180deg) !important;
}
.cherry-submenu {
  position: absolute;
  margin-top: 12px;
  opacity: 1;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease;
}
.cherry-submenu .menu-item {
  padding: 10px 10px;
  cursor: pointer;
}
.cherry-submenu .menu-item.is-active,
.cherry-submenu .menu-item:hover {
  color: red !important;
}
.cherry-submenu-vertical {
  position: relative;
}
.cherry-submenu.menu-opened {
  opacity: 1;
}
.submenu-item-horizontal {
  box-shadow: 0px 5px 10px #d5d5d5;
  background-color: #ffffff;
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
}
.menu-vertical .menu-item {
  border-left: 1px solid transparent;
}
.menu-vertical .menu-item.is-active,
.menu-vertical .menu-item:hover {
  border-bottom: 0px;
  border-left: 1px solid blue;
}
.cherry-submenu.menu-opened {
  opacity: 1;
}
