.cherry-input {
  display: flex;
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  position: relative;
}
.cherry-input .input-inner {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: #dee2e6 solid 1px;
  border-radius: 0.5rem;
}
.cherry-input .input-inner:focus {
  color: #d07b8b;
  outline: 0;
  border-color: #d07b8b;
  box-shadow: 0 0 0 0.3rem rgba(208, 123, 139, 0.25);
}
.cherry-input .input-inner::placeholder {
  color: #6c757d;
}
.cherry-input.input-small {
  width: 200px;
  height: 35px;
}
.cherry-input.input-small .input-inner {
  font-size: 0.1rem;
}
.cherry-input.input-large {
  width: 400px;
  height: 45px;
}
.cherry-input.input-large .input-inner {
  font-size: 1.5rem;
}
